.new-article-form {
    margin: 30px;

    // .myCropper {
    //   width: 100%;
    //   display: block;
    //   visibility: hidden !important;
    // }
    //
    //
    // .myCropping {
    //   visibility: visible !important;
    // }
}

.file-upload {
  height: 36px;
}

md-spinner {
  float: right;
  width: 24px;
  height: 24px;
  margin: 5px 10px 0px 0px;
}

.img-responsive {
  width: 300px;
  height: 150px;
}
