<form (ngSubmit)="onSubmit(articleForm.value)" #articleForm="ngForm">
  <md-card class="new-article-form">
    <md-card-content>
      <input type="hidden" id="id" [(ngModel)]="articleDetail._id" name="_id">
      <md-input-container style="width: 100%">
        <input mdInput required maxlength="100" id="title" [(ngModel)]="articleDetail.title" name="title" placeholder="Title" #title>
        <md-hint align="end">{{title.value.length}} / 100</md-hint>
      </md-input-container>

      <md-input-container style="width: 100%">
        <textarea mdInput maxlength="200" placeholder="Desciption" [(ngModel)]="articleDetail.description"
          id="description" name="description" #description>
        </textarea>
        <md-hint align="end">{{description.value.length}} / 200</md-hint>
      </md-input-container>

      <md-input-container style="width: 100%">
        <input mdInput placeholder="Author (current user)" [(ngModel)]="articleDetail.author" id="author" name="author">
      </md-input-container>

      <!-- <div class="row"> -->
        <!-- <div class="col-md-8 col-sm-8"> -->
          <!-- <md-input-container style="width: 100%">
            <input mdInput id="imageUrl" required [(ngModel)]="articleDetail.header_image" name="header_image" placeholder="Image URL">
          </md-input-container> -->

          <!-- <div style="width: 100%; margin-top: 10px"> -->
      <md-select style="width: 100%; margin: 20px 0px;" placeholder="Category" [(ngModel)]="articleDetail.category" name="category">
        <md-option required *ngFor="let category of categories" [value]="category._id">
          {{category.name}}
        </md-option>
      </md-select>
          <!-- </div> -->
        <!-- </div> -->

        <!-- <div class="col-md-4 col-sm-4">
          <img id="image" name="headerImage" style="width: 100%; height: 100%;" [src]="articleDetail.header_image == null || articleDetail.header_image == '' ? 'http://www.doitacaav.vn/bitrix/components/vportal/news.list/templates/tinmoinhat/images/no_images.png' : articleDetail.header_image"
          />
        </div> -->
      <!-- </div> -->

      <ckeditor required name="content" [(ngModel)]="articleDetail.content" [config]="{extraPlugins: 'divarea'}"
        debounce="500">
      </ckeditor>
    </md-card-content>
    <md-card-actions>
      <button md-button type="button" (click)="onCancel()">Cancel</button>
      <button md-button type="submit">Create</button>
    </md-card-actions>
  </md-card>
</form>
