<form (ngSubmit)="onSubmit(articleForm.value)" #articleForm="ngForm">
  <md-card class="new-article-form">
    <md-card-content>
      <input type="hidden" id="id" [(ngModel)]="articleDetail._id" name="_id">
      <md-input-container style="width: 100%">
        <input mdInput required maxlength="100" id="title" [(ngModel)]="articleDetail.title" name="title" placeholder="Title" #title>
        <md-hint align="end">{{title.value.length}} / 100</md-hint>
      </md-input-container>

      <md-input-container style="width: 100%">
        <textarea mdInput maxlength="200" placeholder="Desciption" [(ngModel)]="articleDetail.description"
          id="description" name="description" #description>
        </textarea>
        <md-hint align="end">{{description.value.length}} / 200</md-hint>
      </md-input-container>

      <md-input-container style="width: 100%">
        <input mdInput placeholder="Author (current user)" [(ngModel)]="articleDetail.author" id="author" name="author">
      </md-input-container>

      <md-select style="width: 100%; margin: 20px 0px;" placeholder="Category" [(ngModel)]="articleDetail.category" name="category">
        <md-option required *ngFor="let category of categories" [value]="category._id">
          {{category.name}}
        </md-option>
      </md-select>

      <div class="row">
        <div class="col-md-6">
          <div class="file-upload">
            <input md-button id="custom-input" name='header_image' type="file" (change)="fileChangeListener($event)">
          </div>
          <div>
            <br>
            <img-cropper #cropper [image]="data"
              [settings]="cropperSettings" (onCrop)="cropped($event, articleDetail)"
              [style.display]="data.image ? 'block' : 'hidden'"
              >
            </img-cropper>
          </div>
        </div>
        <div class="col-md-6">
          <button md-raised-button color="primary" type="button" (click)="onApplyCrop(data)"
                  [disabled]="isLoading" *ngIf="data.image">
            <md-spinner color="accent" *ngIf="isLoading"></md-spinner>Apply crop &nbsp;&nbsp;
          </button>
          <div class="result rounded" *ngIf="data.image">
            <br>
            <img [src]="data.image" class="img-responsive">
          </div>
        </div>
      </div>

      <ckeditor required name="content" [(ngModel)]="articleDetail.content" [config]="{extraPlugins: 'divarea'}"
        debounce="500">
      </ckeditor>
    </md-card-content>
    <md-card-actions>
      <button md-button color="primary" type="submit">{{ isCreate ? 'Create' : 'Update' }}</button>
      <button md-button type="button" (click)="onCancel()">Cancel</button>
    </md-card-actions>
  </md-card>
</form>
