@import '~@angular/material/core/theming/prebuilt/deeppurple-amber';
@include md-core(); // include all mixins
.articles-list-container {
  margin: 40px;
  .ui-button {
    background-color: md-color($primary)
  }
}

@media screen and (min-width: 801px) {
 footer {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  footer {
    display: block;
  }
  .btn-add-big-size {
    display: none;
  }
}