.container {
  margin-top: 50px;
  .heading-img {
    margin-bottom: -24px;
  }
  .heading-text {
    .md-tooltip {
      font-size: 14px;
    }
  }

  md-tooltip {
    font-size: 18px;
  }

  .articles-divider {
    margin: 24px 0;
  }

  md-card {
    margin-bottom: 24px;
  }

  .articles-img {
    height: 200px;
    max-height: 200px;
  }

  .article-description {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .article-title {
    font-weight: 550;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.container-notfound {
  height: 100%;
  margin-top: 50px;
  .wrapper {
    height: 100%;
    text-align: center;

    .notfound-text {
      margin-top: 20px;
      font-size: 30px;
    }
  }
}

.header-grid {
  height: 80vh;
  padding: 0 !important;
  
}


.header {
  padding: 0 !important;
  height: 90vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 90vh; 
  background: rgba(0, 0, 0, 0.79);
  .content {
    padding: 30px;
    margin: 0;
    color: white;
    position: absolute;
    bottom: 0;
  }
}

md-grid-tile figure {
  align-items: flex-end !important;
}