@import '~@angular/material/theming';
@import 'src/theming.scss';
@include mat-core();
.articles-container {
  margin-top: 80px;
  .heading-img {
    margin-bottom: -24px;
  }
  .heading-text {
    .md-tooltip {
      font-size: 14px;
    }
  }
  md-tooltip {
    font-size: 18px;
  }
  .articles-divider {
    margin: 24px 0;
  }
  md-card {
    margin-bottom: 24px;
  }
  .articles-img {
    height: 200px;
    max-height: 200px;
  }
  .article-description-container {
    overflow: hidden;
    height: 60px;
  }
  .article-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .article-title-container {
    overflow: hidden;
    height: 85px;
  }
  .article-title {
    font-weight: 550;
    font-size: 19px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .heading-line {
    // width: 100%;
    font-weight: 400;
    position: relative;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    h4 {
      padding-right: 25px;
      font-size: 24px;
      // font-weight: bold;
      text-transform: uppercase
    }
    .line {
      position: relative;
      height: 5px;
      background-color: mat-color($primary);
      flex: 2;
    }
  }
}

.container-notfound {
  height: 100%;
  margin-top: 50px;
  .wrapper {
    height: 100%;
    text-align: center;
    .notfound-text {
      margin-top: 20px;
      font-size: 30px;
    }
  }
}

md-grid-tile figure {
  align-items: flex-end !important;
}

pagination-controls {
  text-align: center;
}

pagination-controls /deep/ .ng2-pagination li.current {
  background: mat-color($primary) !important;
}

pagination-controls /deep/ .ng2-pagination li {
  font-size: 14px !important;
  cursor: pointer;
  a:hover {
    text-decoration: none;
  }
}
