<app-swiper></app-swiper>
<div class="container articles-container" *ngIf="publishedArticles && publishedArticles.length > 0">
  <div class="row">
    <div class="heading-line col-md-12 col-sm-12">
      <h4>top <b>stories</b></h4>
      <div class="line"></div>
    </div>
  </div>

  <div class="row search-results"
      infinite-scroll
      debounce
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollThrottle]="throttle"
      (scrolled)="onScrollDown()">
    <div class="col-md-4 col-sm-6" *ngFor="let article of infiniteArticles">
      <md-card>
        <img md-card-image src={{article.header_image}} class="articles-img">
        <md-card-content>
          <div class="article-title-container">
            <h4 class="article-title">{{article.title}}</h4>
          </div>
          <div class="article-description-container">
          <p class="article-description">
            {{article.description}}
          </p>
          </div>
        </md-card-content>
        <md-card-actions>
          <button md-button color="primary" [routerLink]="[article._id]">
            LEARN MORE</button>
        </md-card-actions>
      </md-card>
      <div class="clearfix visible-sm-block"></div>
    </div>
  </div>
  <!-- End here-->
  <div class="row row-loading" *ngIf="!isFinish" [hidden]="!isLoading">
    <div class="col-md-4 col-sm-6">
      <md-card class="timeline-item">
        <div class="animated-background facebook">
          <div class="background-masker header-top"></div>
          <div class="background-masker header-left"></div>
          <div class="background-masker header-right"></div>
          <div class="background-masker header-bottom"></div>
          <div class="background-masker subheader-left"></div>
          <div class="background-masker subheader-right"></div>
          <div class="background-masker subheader-bottom"></div>
          <div class="background-masker content-top"></div>
          <div class="background-masker content-first-end"></div>
          <div class="background-masker content-second-line"></div>
          <div class="background-masker content-second-end"></div>
          <div class="background-masker content-third-line"></div>
          <div class="background-masker content-third-end"></div>
        </div>
      </md-card>
      <div class="clearfix visible-sm-block"></div>
    </div>
    <div class="col-md-4 col-sm-6">
      <md-card class="timeline-item">
        <div class="animated-background facebook">
          <div class="background-masker header-top"></div>
          <div class="background-masker header-left"></div>
          <div class="background-masker header-right"></div>
          <div class="background-masker header-bottom"></div>
          <div class="background-masker subheader-left"></div>
          <div class="background-masker subheader-right"></div>
          <div class="background-masker subheader-bottom"></div>
          <div class="background-masker content-top"></div>
          <div class="background-masker content-first-end"></div>
          <div class="background-masker content-second-line"></div>
          <div class="background-masker content-second-end"></div>
          <div class="background-masker content-third-line"></div>
          <div class="background-masker content-third-end"></div>
        </div>
      </md-card>
      <div class="clearfix visible-sm-block"></div>
    </div>
    <div class="col-md-4 col-sm-6 dynamic-col">
      <md-card class="timeline-item">
        <div class="animated-background facebook">
          <div class="background-masker header-top"></div>
          <div class="background-masker header-left"></div>
          <div class="background-masker header-right"></div>
          <div class="background-masker header-bottom"></div>
          <div class="background-masker subheader-left"></div>
          <div class="background-masker subheader-right"></div>
          <div class="background-masker subheader-bottom"></div>
          <div class="background-masker content-top"></div>
          <div class="background-masker content-first-end"></div>
          <div class="background-masker content-second-line"></div>
          <div class="background-masker content-second-end"></div>
          <div class="background-masker content-third-line"></div>
          <div class="background-masker content-third-end"></div>
        </div>
      </md-card>
      <div class="clearfix visible-sm-block"></div>
    </div>
  </div>
</div>
<div class="container-notfound" *ngIf="!publishedArticles || publishedArticles.length == 0">
  <div class="wrapper">
    <img class="notfound-img" src="assets/images/not-found.png" />
    <p class="notfound-text">Opps! There is no article yet.</p>
    <p class="notfound-text">Keep calm and go back again.</p>
    <p class="notfound-text"> 💔 💔 💔 </p>
  </div>
</div>