/*@import '~@angular/material/core/theming/prebuilt/pink-bluegrey';*/
// @import '~@angular/material/core/theming/prebuilt/pink-bluegrey';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber';
@include mat-core();

.user-card {
    background-color: mat-color($primary);
    .username-text {
      color: white;
    }

    .email-text {
      color: white;
    }
    img {
      width: 50px;
      height: 50px;
    }
}

.remaining-space {
  flex: 1 1 auto;
}

.menu-btn {
  margin-bottom: 2px;
}

.md-sidenav {
  width: 300px;
  md-nav-list {
    md-list-item {
      a {
        &:hover {
          text-decoration: none;
        }
        outline: none;
        text-decoration: none
      }
      button {
        color: mat-color($primary);
      }
    }
  }
}

@media screen and (min-width: 801px) {
  .cat-btn {
    visibility: hidden;
  }
}


@media screen and (max-width: 800px) {
  .category-button {
    display: none;
  }
  .cat-btn {
    visibility: visible;
  }
}
