<md-sidenav-layout fullscreen>
  <md-toolbar color="primary" style="height: 10vh;">
    <button md-icon-button (click)="start.toggle()" class="menu-btn">
      <md-icon class="md-24">menu</md-icon>
    </button>
    <span [routerLink]="['/news/all']" id="header-title"> Frog Coffee News </span>
    <span class="remaining-space"></span>
    <!--<span>
      <button md-icon-button (click)="start.toggle()" class="menu-btn">
        <md-icon class="md-24">menu</md-icon>
      </button>
    </span>-->
    <button class="category-button" 
      md-button 
      *ngFor="let category of categoryList" 
      [routerLink]="['/news', category.categoryName | lowercase]"  
    > 
      {{category.categoryName}} 
    </button>
    <button md-icon-button (click)="end.toggle()" class="cat-btn">
      <md-icon class="md-24">more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-sidenav class="md-sidenav" align="start" #start mode="over">
    <md-card class="user-card">
      <md-card-header *ngIf="auth.authenticated() && auth.userProfile">
        <img md-card-avatar [src]="auth.userProfile.picture">
        <md-card-title class="username-text">{{auth.userProfile.firstName || auth.userProfile.name}} {{auth.userProfile.lastName}}</md-card-title>
        <md-card-subtitle class="email-text">{{auth.userProfile.email || auth.userProfile.gender}}</md-card-subtitle>
      </md-card-header>
      <md-card-header *ngIf="!auth.authenticated()">
        <img md-card-avatar src="assets/images/logo.png">
        <md-card-title class="username-text">anonymous</md-card-title>
        <md-card-subtitle class="email-text">anonymous@gmail.com</md-card-subtitle>
      </md-card-header>
    </md-card>
    <md-nav-list>
      <md-list-item>
        <a md-line href="#">Favorites</a>
        <button md-icon-button>
          <md-icon>favorite</md-icon>
        </button>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item>
        <a md-line href="#">Account</a>
        <button md-icon-button>
          <md-icon>person</md-icon>
        </button>
      </md-list-item>
      <md-list-item>
        <a md-line href="#">Comment</a>
        <button md-icon-button>
          <md-icon>comment</md-icon>
        </button>
      </md-list-item>
      <md-list-item *ngIf="auth.authenticated() && auth.userProfile && auth.userProfile.role == 1">
        <button md-icon-button>
          <md-icon>settings</md-icon>
        </button>
        <a md-line [routerLink]="['/admin']">Admin</a>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item *ngIf="!auth.authenticated()">
        <button md-icon-button>
          <md-icon>vpn_key</md-icon>
        </button>
        <a md-line (click)="auth.login()">Log In</a>
      </md-list-item>
        <md-list-item *ngIf="auth.authenticated()">
        <button md-icon-button>
          <md-icon>vpn_key</md-icon>
        </button>
        <a md-line (click)="auth.logout()">Log Out</a>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>

  <md-sidenav class="md-sidenav" align="end" #end mode="over">
    <md-toolbar color="primary" style="height: 10vh;">
    </md-toolbar>
    <md-nav-list>
      <md-list-item *ngFor="let category of categoryList">
        <a md-line [routerLink]="['/news', category.categoryName | lowercase]">{{category.categoryName}} </a>
        <button md-icon-button>
          <md-icon>loyalty</md-icon>
        </button>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-layout>

