  <h3 md-dialog-title class="dialog-header"> Modify comment</h3>
  <div class="modify-comment-container">
    <md-input-container style="width: 100%;">
      <textarea md-input placeholder="Type to modify your comment below" maxlength="300" #characterCountComment rows="4" name="content" [(ngModel)]="selectedComment.content"
        value="{{selectedComment.content}}"></textarea>
      <md-hint align="end">{{characterCountComment.value.length}} / 300</md-hint>
    </md-input-container>
  </div>
  <br>
  <div class="pull-right confirm-button">
    <button class="btn btn-primary" (click)="submit(selectedComment); dialogRef.close('yes');"  style="width: 105px; margin-right: 15px"><span class="glyphicon glyphicon-ok" type="submit"></span>Save</button>
    <button class="btn btn-danger" (click)="dialogRef.close('yes');" md-dialog-close style="width: 105px;"><span class="glyphicon glyphicon-remove" style="margin-right: 15px;" type="button"></span>Dismiss</button> 
    </div>

