<form (ngSubmit)="onSubmit(commentForm.value)" #commentForm="ngForm">
  <md-dialog-content>
    <h3 md-dialog-title class="dialog-header"> Modify comment</h3>
    <input type="hidden" name="_id" [ngModel]="selectedComment._id">
    <div class="modify-comment-container">
      <md-input-container style="width: 100%;">
        <textarea mdInput 
          placeholder="Type to modify your comment below" 
          maxlength="300" #characterCountComment 
          rows="4" 
          name="text"
          [ngModel]="selectedComment.text"></textarea>
          <md-hint align="end">{{characterCountComment.value.length}} / 300</md-hint>
      </md-input-container>
    </div>
    <br>
  </md-dialog-content>
  <md-dialog-actions>
    <div class="pull-right confirm-button">
      <button class="btn btn-primary" style=" width: 105px;"><span class="glyphicon glyphicon-ok" type="submit" style="margin-right: 15px "></span>Save</button>
      <button class="btn btn-danger"  (click) = "commentForm.reset(); dialogRef.close('no');"style="width: 105px;" type="button"><span class="glyphicon glyphicon-remove" style="margin-right: 15px;"></span>Dismiss</button>
    </div>
  </md-dialog-actions>
</form>
