<md-grid-list cols="2" rowHeight="fit" class="landing">
  <md-grid-tile *ngFor="let article of publishedArticles.reverse() | slice:0:4; let i = index">
    <div class="swiper-slide header" [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + article.header_image + ')'}"
      [routerLink]="[article._id]">
      <div [class]="'header header-' + i">
        <div class="content">
          <p>{{article.title}}</p>
          <div class="body-info-container">
            <div class="info">
              <md-icon>volume_up</md-icon>{{article.source || 'MERCURY'}}</div>
            <div class="info">
              <md-icon>access_time</md-icon>{{getArticlePeriod(article.date.toString())}}</div>
            <!--<div class="info">
              <md-icon>people</md-icon>{{article.author || "N/A"}}</div>-->
            <span class="remaining-space"></span>
            <p class="info-category">{{categoryName}}</p>
          </div>
          <!--<p class="description">{{article.description}}</p>-->
        </div>
        <div class="flex-col"></div>
      </div>
    </div>
  </md-grid-tile>
</md-grid-list>
