@import '~@angular/material/core/theming/prebuilt/deeppurple-amber';
@include md-core(); // include all mixins

html, body, material-app, md-sidenav-container, .admin-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.admin-container {
  .admin-sidenav {
    width: 250px;
    md-nav-list {
      md-list-item {
        a {
          &:hover {
            text-decoration: none;
          }
          outline: none;
          text-decoration: none
        }
        button {
          color: md-color($primary);
        }
      }
      md-list-item.md-list-item {
        font-size: 14px !important;
      }
    }
  }
}