.mat-toolbar {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 200px;
  font-size: 40px;
  .remaining-space {
    flex: 1 1 auto;
  }
  .sortable {
    text-align: right;
  }
  .sort {
    opacity: 0.5;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 36px;
    margin-right: 10px;
    margin: 10px 5px;
    width: 80px;
  }
  .sort.active {
    border: 1px solid;
    border-radius: 20px;
    opacity: 1;
  }
}

.mat-toolbar /deep/ .mat-toolbar-layout {
  margin: auto;
  width: 100%;
}

.comment-content {
  margin-left: 72px;
}

.comment-divider {
  border-top: 2px solid #eee;
}

@media screen and (max-width: 990px) {
  .mat-toolbar {
    text-align: center;
    .commentable {
      font-size: 30px;
    }
    .sortable {
      text-align: center;
      .sort {
        display: inline-block;
        width: 100px;
      }
    }
  }
}


/* Horizontal spinner */

#circleG {
  width: 80px;
  margin-left: 5px;
}

.circleG {
  background-color: rgb(255, 255, 255);
  float: left;
  height: 13px;
  margin-left: 7px;
  width: 13px;
  animation-name: bounce_circleG;
  -o-animation-name: bounce_circleG;
  -ms-animation-name: bounce_circleG;
  -webkit-animation-name: bounce_circleG;
  -moz-animation-name: bounce_circleG;
  animation-duration: 1.8475s;
  -o-animation-duration: 1.8475s;
  -ms-animation-duration: 1.8475s;
  -webkit-animation-duration: 1.8475s;
  -moz-animation-duration: 1.8475s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

#circleG_1 {
  animation-delay: 0.3695s;
  -o-animation-delay: 0.3695s;
  -ms-animation-delay: 0.3695s;
  -webkit-animation-delay: 0.3695s;
  -moz-animation-delay: 0.3695s;
}

#circleG_2 {
  animation-delay: 0.8655s;
  -o-animation-delay: 0.8655s;
  -ms-animation-delay: 0.8655s;
  -webkit-animation-delay: 0.8655s;
  -moz-animation-delay: 0.8655s;
}

#circleG_3 {
  animation-delay: 1.1085s;
  -o-animation-delay: 1.1085s;
  -ms-animation-delay: 1.1085s;
  -webkit-animation-delay: 1.1085s;
  -moz-animation-delay: 1.1085s;
}

@keyframes bounce_circleG {
  0% {}
  50% {
    background-color: rgb(186, 34, 186);
  }
  100% {}
}

@-o-keyframes bounce_circleG {
  0% {}
  50% {
    background-color: rgb(186, 34, 186);
  }
  100% {}
}

@-ms-keyframes bounce_circleG {
  0% {}
  50% {
    background-color: rgb(186, 34, 186);
  }
  100% {}
}

@-webkit-keyframes bounce_circleG {
  0% {}
  50% {
    background-color: rgb(186, 34, 186);
  }
  100% {}
}

@-moz-keyframes bounce_circleG {
  0% {}
  50% {
    background-color: rgb(186, 34, 186);
  }
  100% {}
}
