.article-detail {
  header {
    padding: 0 !important;
    height: 60vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .content {
      padding: 30px;
      margin: 0;
      color: white;
      .description {
        color: #cecece;
        line-height: 1.5;
      }
    }
  }
  .author {
    font-size: 12px;
    position: absolute;
    right: 55px;
    bottom: 20px;
    color: white;
    z-index: 1;
  }
  .article-content-row {
    margin: auto;
    margin-top: 80px;
    .article-body {
      // display: table;
      overflow: hidden;
      .text-body {
        img {
          width: 100% !important;
        }
      }
    }
    .related-articles {
      .related-article-row {
        &:hover {
          cursor: pointer;
          color: red;
        }
      }
    }
  }
  .comment-line {
    // width: 100%;
    font-weight: 400;
    position: relative;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    h4 {
      padding-right: 25px;
      // text-transform: uppercase
    }
    .line {
      position: relative;
      height: 5px;
      background-color: #E4E7EA;
      flex: 2;
    }
  }
  .comment-content {
    margin-left: 72px;
  }

  .comment-divider{
    border-top: 2px solid #eee;
  }
}

.sb-buttons {
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .article-detail {
    header {
      .content {
        h1 {
          font-size: 24px;
        }
        h3 {
          font-size: 12px;
        }
      }
      .author {
        bottom: 10px;
      }
    }
  }
}