@import '~@angular/material/core/theming/prebuilt/deeppurple-amber';
@include mat-core(); // include all mixins
.article-detail {
  header {
    padding: 0 !important;
    height: 60vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .content {
      padding: 30px;
      margin: 0;
      color: white;
      .description {
        color: #cecece;
        line-height: 1.5;
      }
    }
  }
  .author {
    font-size: 12px;
    position: absolute;
    right: 55px;
    bottom: 20px;
    color: white;
    z-index: 1;
  }
  .article-content-row {
    margin: auto;
    margin-top: 80px;
    .article-body {
      // display: table;
      overflow: hidden;
      .text-body {
        img {
          width: 100% !important;
        }
      }
    }
    .related-articles {
      .related-article-row {
        &:hover {
          cursor: pointer;
          color: mat-color($primary);
        }
      }
    }
  }
  .comment-line {
    // width: 100%;
    font-weight: 400;
    position: relative;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    h4 {
      padding-right: 25px;
      // text-transform: uppercase
    }
    .line {
      position: relative;
      height: 5px;
      background-color: #E4E7EA;
      flex: 2;
    }
  }
  .comment-content {
    margin-left: 72px;
  }

  .comment-divider{
    border-top: 2px solid #eee;
  }
}

.sb-buttons {
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .article-detail {
    header {
      .content {
        h1 {
          font-size: 24px;
        }
        h3 {
          font-size: 12px;
        }
      }
      .author {
        bottom: 10px;
      }
    }
  }
}


/* Horizontal spinner */
#circleG{
	width:80px;
	margin-left: 5px;
}

.circleG{
	background-color:rgb(255,255,255);
	float:left;
	height:13px;
	margin-left:7px;
	width:13px;
	animation-name:bounce_circleG;
		-o-animation-name:bounce_circleG;
		-ms-animation-name:bounce_circleG;
		-webkit-animation-name:bounce_circleG;
		-moz-animation-name:bounce_circleG;
	animation-duration:1.8475s;
		-o-animation-duration:1.8475s;
		-ms-animation-duration:1.8475s;
		-webkit-animation-duration:1.8475s;
		-moz-animation-duration:1.8475s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:8px;
		-o-border-radius:8px;
		-ms-border-radius:8px;
		-webkit-border-radius:8px;
		-moz-border-radius:8px;
}

#circleG_1{
	animation-delay:0.3695s;
		-o-animation-delay:0.3695s;
		-ms-animation-delay:0.3695s;
		-webkit-animation-delay:0.3695s;
		-moz-animation-delay:0.3695s;
}

#circleG_2{
	animation-delay:0.8655s;
		-o-animation-delay:0.8655s;
		-ms-animation-delay:0.8655s;
		-webkit-animation-delay:0.8655s;
		-moz-animation-delay:0.8655s;
}

#circleG_3{
	animation-delay:1.1085s;
		-o-animation-delay:1.1085s;
		-ms-animation-delay:1.1085s;
		-webkit-animation-delay:1.1085s;
		-moz-animation-delay:1.1085s;
}



@keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(186,34,186);
	}

	100%{}
}

@-o-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(186,34,186);
	}

	100%{}
}

@-ms-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(186,34,186);
	}

	100%{}
}

@-webkit-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(186,34,186);
	}

	100%{}
}

@-moz-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(186,34,186);
	}

	100%{}
}