<div *ngIf="article" class="article-detail">
  <header [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(0, 0, 0, 0.0), #000000), url(' + article.header_image + ')'}">
    <div class="row">
      <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1 col-xs-12">
        <div class="row is-flex">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="content">
              <h1 class="title">{{article.title}}</h1>
              <!--<h3 class="description">{{article.description}}</h3>-->
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="actions">
              <a md-fab routerLink="." color="primary"><md-icon>comment</md-icon></a>
              <a md-fab routerLink="." color="primary"><md-icon>bookmark</md-icon></a>
              <a md-fab routerLink="." color="primary"><md-icon>share</md-icon></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="row article-content-row">
    <div class="col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1 col-xs-12 article-body">
      <div class="body-info-container">
        <!--<div><md-icon>clock</md-icon>CNN</div>-->
        <div class="info">
          <md-icon>volume_up</md-icon>{{article.source || 'MERCURY'}}</div>
        <div class="info">
          <md-icon>access_time</md-icon>{{article.date | date:'medium'}}</div>
        <div class="info">
          <md-icon>people</md-icon>{{article.author || "N/A"}}</div>
        <span class="remaining-space"></span>
        <p class="info-category">{{categoryName}}</p>
      </div>
      <div [innerHTML]="article.content" class="text-body"></div>
    </div>
    <!--<div class="col-md-3 col-sm-3 col-xs-12 related-articles">
      <p><b>Related Stories</b></p>
      <div *ngIf="relatedArticleList">
        <div class="row related-article-row" *ngFor="let relatedArticle of relatedArticleList | slice:0:4; let i = index" [hidden]="relatedArticleList[i]._id == article._id"
          style="margin-bottom: 20px" [routerLink]="[ '/news/', categoryName, relatedArticle._id]">
          <div class="col-md-4 col-sm-12">
            <img [src]="relatedArticle.header_image" alt="img" style="width: 80px; height: 80px">
          </div>
          <div class="col-md-8 col-sm-12">
            <p>{{relatedArticle.title}}</p>
          </div>
        </div>
      </div>
    </div>-->
  </div>
  <app-comment [comments]="commentList"></app-comment>
</div>
