<form (ngSubmit)="onSubmit(articleForm.value)" #articleForm="ngForm">
  <h1 md-dialog-title>Article Details</h1>
  <md-dialog-content>

      <md-input-container style="width: 100%">
        <input md-input 
               maxlength="100"
               id="title"
               required
               [(ngModel)]="articleDetail.articleHeaderTitle" 
               name="articleHeaderTitle"
               placeholder="Title" 
               >
        <!--<md-hint align="end">{{title.value.length}} / 100</md-hint>-->
      </md-input-container>

      <md-input-container style="width: 100%">
        <textarea md-input maxlength="100" placeholder="Desciption" 
                  required
                  [(ngModel)]="articleDetail.articleHeaderDescription"         
                  id="description"
                  name="articleHeaderDescription"
                  >
        </textarea>
        <!--<md-hint align="end">{{description.value.length}} / 200</md-hint>-->
      </md-input-container>

      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
              <div style="width: 100%">
                <select name="category" 
                        id="category"
                        [(ngModel)]="articleDetail.category"
                        required
                        md-input
                        style="width: 80%">
                    <option *ngFor="let category of categories; let i = index;" 
                            [value]="category.idCategory"
                            [selected]="i == 0">
                      {{category.categoryName}}
                    </option>
                </select>
            </div>
          </td>
          <td><md-input-container style="width: 100%">
            <input md-input placeholder="Author" required
                  [(ngModel)]="articleDetail.author"         
                  id="author"
                  name="author"
                  >
          </md-input-container></td>
        </tr>
      </table>

  </md-dialog-content>
  <md-dialog-actions>
    <button style="float: right" md-button md-dialog-close>Cancel</button>  
    <button type="submit" style="float: right" md-button>Submit</button>
  </md-dialog-actions>
</form>