<form (ngSubmit)="onSubmit(articleForm.value)" #articleForm="ngForm">
  <h1 md-dialog-title>Article Details</h1>
  <md-dialog-content>
      <input type="hidden" id="id" [(ngModel)]="articleDetail.idArticle" name="idArticle">
      <md-input-container style="width: 100%">
        <input md-input 
               maxlength="100"
               id="title"
               required
               [(ngModel)]="articleDetail.articleHeaderTitle" 
               name="articleHeaderTitle"
               placeholder="Title" 
               #title
               >
        <md-hint align="end">{{title.value.length}} / 100</md-hint>
      </md-input-container>

      <md-input-container style="width: 100%">
        <textarea md-input maxlength="100" placeholder="Desciption" 
                  required
                  [(ngModel)]="articleDetail.articleHeaderDescription"         
                  id="description"
                  name="articleHeaderDescription"
                  #description
                  >
        </textarea>
        <md-hint align="end">{{description.value.length}} / 200</md-hint>
      </md-input-container>

      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
              <div style="width: 100%">
                <select name="category" 
                        id="category"
                        [(ngModel)]="articleDetail.Category"
                        required
                        md-input
                        style="width: 80%">
                    <option *ngFor="let category of categories; let i = index;" 
                            [value]="category.idCategory">
                      {{category.categoryName}}
                    </option>
                </select>
            </div>
          </td>
          <td>
            <md-input-container style="width: 100%">
              <input md-input placeholder="Author" required
                  [(ngModel)]="articleDetail.author"         
                  id="author"
                  name="author"
                  >
            </md-input-container>
          </td>
        </tr>
      </table>
      
      <md-input-container style="width: 100%">
        <input md-input 
               id="imageUrl"
               required
               [(ngModel)]="articleDetail.headerImagePath" 
               name="headerImagePath"
               placeholder="Image URL" 
               >
      </md-input-container>
      <input   type="image"
               id="image"
               [(ngModel)]="articleDetail.headerImagePath" 
               name="headerImage"
               placeholder="Image" 
               [src]="articleDetail.headerImagePath"
               >
      <ckeditor
          required
          name="articleContent"
          [(ngModel)]="articleDetail.articleContent"
          [config]="{extraPlugins: 'divarea'}"
          debounce="500">
      </ckeditor>

  </md-dialog-content>
  <md-dialog-actions>
    <button type="button" style="float: right" md-button md-dialog-close (click)="dialogRef.close('yes')">Cancel</button>  
    <button type="button" style="float: right" md-button md-dialog-close (click)="onRemove(articleDetail.idArticle);dialogRef.close('yes')">Remove</button>  
    <button type="submit" style="float: right" md-button>Modify</button>
  </md-dialog-actions>
</form>