<form (ngSubmit)="onSubmit(articleForm.value)" #articleForm="ngForm">
  <h1 md-dialog-title>Article Details</h1>
  <md-dialog-content>
      <input type="hidden" id="id" [(ngModel)]="articleDetail.idArticle" name="idArticle">
      <md-input-container style="width: 100%">
        <input md-input 
               maxlength="100"
               id="title"
               required
               [(ngModel)]="articleDetail.articleHeaderTitle" 
               name="articleHeaderTitle"
               placeholder="Title" 
               #title
               >
        <md-hint align="end">{{title.value.length}} / 100</md-hint>
      </md-input-container>

      <md-input-container style="width: 100%">
        <textarea md-input maxlength="200" placeholder="Desciption" 
                  required
                  [(ngModel)]="articleDetail.articleHeaderDescription"         
                  id="description"
                  name="articleHeaderDescription"
                  #description
                  >
        </textarea>
        <md-hint align="end">{{description.value.length}} / 200</md-hint>
      </md-input-container>

      <md-input-container style="width: 100%">
        <input md-input placeholder="Author" required
            [(ngModel)]="articleDetail.author"         
            id="author"
            name="author"
            >
      </md-input-container>

      <div class="row">
        <div class="col-md-8 col-sm-8">
          <md-input-container style="width: 100%">
                  <input md-input 
                        id="imageUrl"
                        required
                        [(ngModel)]="articleDetail.headerImagePath" 
                        name="headerImagePath"
                        placeholder="Image URL" 
                        >
          </md-input-container>
          
          <div style="width: 100%; margin-bottom: 10px">
            <select name="category" 
                    id="category"
                    [(ngModel)]="articleDetail.Category"
                    required
                    md-input
                    style="width: 80%">
                <option *ngFor="let category of categories; let i = index;" 
                        [value]="category._id">
                  {{category.name}}
                </option>
            </select>
          </div>
          <div style="margin-bottom: 20px">
            <md-checkbox [(ngModel)]="articleDetail.published" name="published">
              Publish
            </md-checkbox>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-4">
          <img    id="image"
                  name="headerImage"
                  style="width: 100%; height: 100%;"
                  [src]="articleDetail.headerImagePath == null || articleDetail.headerImagePath == '' ? 'http://www.doitacaav.vn/bitrix/components/vportal/news.list/templates/tinmoinhat/images/no_images.png' : articleDetail.headerImagePath"
          />
        </div>
      </div>
      
      
      <ckeditor
          required
          name="articleContent"
          [(ngModel)]="articleDetail.articleContent"
          [config]="{extraPlugins: 'divarea'}"
          debounce="500">
      </ckeditor>

  </md-dialog-content>
  <md-dialog-actions>
    <button type="button" style="float: right" md-button md-dialog-close (click)="dialogRef.close('yes')">Cancel</button>  
    <button type="button" style="float: right" md-button md-dialog-close (click)="onRemove(articleDetail.idArticle);dialogRef.close('yes')">Remove</button>  
    <button type="submit" style="float: right" md-button>Submit</button>
  </md-dialog-actions>
</form>